:root {
  /* Primary */
  --color-soft-cyan: hsl(174, 77%, 80%); /*(Full Slider Bar) */
  --color-strong-cyan: hsl(174, 86%, 45%); /*(Slider Background) */
  --color-light-cyan: hsl(173, 65%, 72%); /*(Slider Background) */

  --color-light-grayish-red: hsl(14, 92%, 95%); /*(Discount Background)*/
  --color-light-red: hsl(15, 100%, 70%); /*(Discount Text)*/
  --color-pale-blue: hsl(226, 100%, 87%); /*(CTA Text)*/

  /* Neutral */
  --color-white: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
  --color-very-pale-blue: hsl(230, 100%, 99%); /*Main Background*/
  --color-lighter-grayish-blue: hsl(224, 65%, 95%); /*(Empty Slider Bar)*/
  --color-light-grayish-blue: hsl(223, 50%, 87%); /*(-Toggle Background)*/
  --color-grayish-blue: hsl(225, 20%, 60%); /*(Text)*/
  --color-dark-desaturated-blue: hsl(
    227,
    35%,
    25%
  ); /*(Text and CTA Background)*/
}

body {
  margin: 0;
  font-family: Manrope, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  font-family: Manrope, Helvetica, sans-serif;
}

h1 h2 {
  margin: 0;
  padding: 0;
}
